<h2>Show Type</h2>

<ul>

  <li>
    <strong>Code:</strong>
    <%= @type.code %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @type.name %>
  </li>

</ul>

<span><%= link "Edit", to: type_path(@conn, :edit, @type) %></span>
<span><%= link "Back", to: type_path(@conn, :index) %></span>
