input[type=search]{
  /* background-color:aliceblue; */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

tbody > tr {
  cursor: pointer;
}

.bo_panels > a:hover {
  text-decoration: none;
}
