input[type=search]{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* tr are links*/
tbody > tr {
  cursor: pointer;
}

.bo_panels > a:hover {
  text-decoration: none;
}
/* For btn in same container than tabs */
.nav >  li > a.btn:hover {
  background-color: #d9534f;
}

.panel-warning {
  border-color: #f0ad4e !important;
}
.panel-warning > .panel-heading {
  background-color: #f0ad4e !important;
}
.panel-success {
  border-color: #5cb85c !important;
}
.panel-success > .panel-heading {
  background-color: #5cb85c !important;
}
span.label {
  padding: 15px !important;
}

span.label.code {
  padding: 2px !important;
}