<h2><%= dgettext("forms", "edit") %> <%= dgettext("forms", "order")%></h2>

<%= render "form.html", Map.put(assigns, :action, order_path(@conn, :update, @order)) %>

<span><%= link dgettext("forms", "back"), to: machine_path(@conn, :show, @order.machine_id) <> "#orders" %></span>
