<h2><%= dgettext("forms", "new") %> <%= dgettext("forms", "order")%></h2>

<%= render "form.html", Map.put(assigns, :action, order_path(@conn, :create)) %>

<span><%= link dgettext("forms", "back"), to: order_path(@conn, :index) %></span>
