<h2><%= dgettext("forms", "new") %> <%= dgettext("forms", "order")%></h2>

<%= render "form.html", Map.put(assigns, :action, order_path(@conn, :create)) %>

<span><%= link dgettext("forms", "back"), to: machine_path(@conn, :show, @machine_id) %></span>
