<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gestión de máquinas">
    <meta name="author" content="José Esteves @ponyesteves">

    <title>Maqs</title>
    <link rel="stylesheet" href="<%= static_path(@conn, ~s[/css/styles.css]) %>">
    <link rel="manifest" href="<%= static_path(@conn, ~s[/manifest.json]) %>">

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Weather PWA">
  <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
  <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
  <meta name="msapplication-TileColor" content="#2F3BA2">

  </head>

  <body>
    <div class="container">
      <header class="header">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <%= link to: machine_path(@conn, :index) do %>
          <%= img_tag(static_path(@conn, ~s[/images/isowean.png]), class: "logo") %>
        <% end %>
        </div>
        </div>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <div id="my-react-app"> </div>

        <%= render @view_module, @view_template, assigns %>
      </main>

    <nav role="navigation">
    <ul class="nav nav-pills pull-right">
        <li>
          <%= link to: machine_path(@conn, :index), class: "btn btn-success", title: gettext("go home") do %>
            <span class="glyphicon glyphicon-home">
          <% end %>
        </li>
        <li>
          <%= link to: import_path(@conn, :machines), class: "btn btn-warning", title: gettext("update") do %>
             <span class="glyphicon glyphicon-refresh">
          <% end %>
        </li>
        <li>
          <%= link to: session_path(@conn, :drop), method: "delete", class: "btn btn-danger", title: gettext("logout") do %>
            <span class="glyphicon glyphicon-log-out">
          <% end %>
        </li>
      </ul>
    </nav>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
