<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gestión de máquinas">
    <meta name="author" content="José Esteves @ponyesteves">

    <title><%= gettext("Welcome") %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/styles.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <div id="my-react-app"> </div>

        <%= render @view_module, @view_template, assigns %>
      </main>

    <nav role="navigation">
    <ul class="nav nav-pills pull-right">
        <li>
          <%= link to: machine_path(@conn, :index), class: "btn btn-success btn-flat" do %>
            <span class="glyphicon glyphicon-th-large">
          <% end %>
        </li>
      </ul>
      <ul class="nav nav-pills pull-right">
        <li>
          <%= link to: session_path(@conn, :drop), method: "delete", class: "btn btn-danger btn-flat" do %>
            <span class="glyphicon glyphicon-log-out">
          <% end %>
        </li>
      </ul>
    </nav>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
