<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= gettext("Mak App") %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/styles.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= img_tag(static_path(@conn, ~s[/images/isowean.png]), class: "logo") %>
          </div>
        </div>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <div id="my-react-app"> </div>
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
  </body>
</html>
