<h2>Show User</h2>

<ul>

  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong>Password hash:</strong>
    <%= @user.password_hash %>
  </li>

</ul>

<span><%= link  dgettext("forms", "edit"), to: user_path(@conn, :edit, @user) %></span>
<span><%= link dgettext("forms", "back"), to: user_path(@conn, :index) %></span>
