<h2><%= dgettext("forms", "edit") %> <%= dgettext("forms", "machine")%></h2>

<%= render "form.html", Map.put(assigns, :action, machine_path(@conn, :update, @machine)) %>

<span><%= link dgettext("forms", "back"), to: machine_path(@conn, :index) %></span>
